<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - NetCoreMvc.Web</title>


</head>
<body>
    @RenderBody()

    
    @RenderSection("Scripts", required: false)
</body>
</html>
